.chartContainer {
	width: 100%;
	height: 400px;
	cursor: pointer;
	margin: 0 auto;
}

.zoomOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.zoomChart {
	width: 80%;
	height: 80%;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
