.cardContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: space-between;
}

.card {
  flex: 0 1 calc(16.66% - 10px);
  background-color: rgba(255, 255, 255, 0.9); /* Fondo con transparencia */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
}

.cardHeader h3 {
  font-size: 1rem;
}

.cardBody p {
  margin: 5px 0;
}

.resultText {
  margin-top: auto; /* Empuja el texto hacia el margen inferior */
  height: 20px; /* Mantiene altura uniforme */
}

.green {
  color: green;
}

.red {
  color: red;
}
